body {
    /* font-family: 'East Sea Dokdo', cursive; */
    font-family: 'IBM Plex Sans KR', sans-serif;
    width: 100%;
    margin: auto 30px;
    
    /* background-color: aliceblue; */
}
/* font */
.headfont {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 70px;
    font-weight: 500;
}
header{
    margin-top: 25px;
    text-align: center;

}
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height:100%; */    

}
.link {
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    border: 3px;
    border-style: outset;
    font-size: medium;
}
/* button styles */
.b-create {
    border-color: slateblue;
    background-color: white;
}
.b-create:hover {
    color: white;
    background-color: slateblue;
}
.b-main {
    border-color: lightpink;
}
.b-main:hover {
    color: white;
    background-color: lightpink;
}
.b-edit {
    background-color: white;
    border-color: dodgerblue;
}
.b-edit:hover {
    color: white;
    background-color: dodgerblue;
}
.b-del {
    border-color: lightgray;
}
.b-del:hover {
    color: white;
    background: lightgray;
}
.b-signup{
    border-color: plum;
}
.b-signup:hover {
    color:white;
    background-color:plum;
}
.b-login{
    background-color: white;
    border-color:lightseagreen;
}
.b-login:hover{
    color: white;
    background-color: lightseagreen;
}
.b-logout{
    background-color: white;
    border-color: yellowgreen;
}
.b-logout:hover{
    color: white;
    background-color: yellowgreen;
}
.b-kakao {
    background-color: white;
    border-color:rgb(255, 230, 4);
    /* margin:10px 5px; */
    padding: 12px 10px;
    
}

.b-kakao:hover {
    color: white;
    background-color:rgb(255, 230, 4);
}


/* font size */
.xl {
    font-size: x-large;
}

.l {
    font-size: large;
}

.m {
    font-size: medium;
}

.mr {
    margin-right: 3px;
}

/* input decorations */
label {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 40px;
    font-weight: 600;
}

input {
    width: 300px;
    height: 32px;
    margin-left: 10px;
    padding: 0 10px;

    font-size: 15px;
    border: none;
    border-bottom: 2px solid slateblue;
    background-color: rgb(238, 235, 255);

}
input:focus {
    outline: 1px solid slateblue;
}

/* link decorations */
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: cornflowerblue;
    text-decoration: none;
}

a:hover {
    color: lightpink;
    text-decoration: underline;

}