<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href = "{% static 'style.css'%}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Sunflower:wght@300&display=swap" rel="stylesheet">

    <title>Edit Subject</title>
</head>
<body>
    <div class='head'>
        과목 정보 수정하기       
    </div>

    <div>
        <form method="POST">
            {% csrf_token %}


            {% comment %} {{form.as_p}} {% endcomment %}


            <div class="col">
            
                <div class="labelbox">
                    <div class="label">전공: </div>
                    <div class="info">{{form.major}}</div>
                    
                </div>

                <div class="labelbox">
                    <div class="label">과목명: </div>
                    <div class="info">{{form.subject_name}}</div>
                </div>

                <div class="labelbox">
                    <div class="label">교수명: </div>
                    <div class="info">{{form.prof_name}}</div>
                </div>

                <div class="labelbox">
                    <div class="label">메모: </div>
                    <div class="info">{{form.memo}}</div>
                </div>
                
            
            
            </div>
            <div class='foot-button'>
                <button class="w-btn-outline w-btn-outline:hover w-btn-blue-outline m" type="submit">수정</button>
            </div>

            
        </form>

    </div>

</body>
</html>