{% extends "base.html" %}

{% block title %}Post Details{% endblock title %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/detail.css' %}">
{% endblock %}

{% block header %}모집 요건{% endblock %}
{% block main %}<a href="{% url 'main:home' %}">메인</a>{% endblock %}

{% block post %}
<a href="{% url 'main:new' %}">글 쓰러 가기</a>
{% endblock %}

{% block content %}

<div class = "container">
    <div class="container2">

        <div class="titlebox">
            <div class="post-category">{{post.category}}</div>
            <div class="post-title">{{post.title}}</div>
        
            <div class="post-info">
                <div class="author">{{post.author}}</div>
                <div class="create-dt">{{post.created_dt}}</div>
            </div>
        
        </div>
        
        <div class="contentbox">
        
            <div class="post-content">{{post.content}}</div>
        </div>


        <div class="buttonarea">
            <!-- <a href="{% url 'main:home' %}">Home</a> -->
            {% if user.is_authenticated and post.author.pk != user.pk %}
                <a class="button" href="{% url 'register:enroll' post.pk %}">Register</a>

            {% endif %}
            {% if user.is_authenticated and post.author.pk == user.pk %}
                <a class="button" href="{% url 'main:edit' post.pk %}">Edit</a>
                <a class="button" href="{% url 'main:delete' post.pk %}">Delete</a>
            {% endif %}
        </div>


        <br><br><br>
        <div class = commentarea>
            <div class="post-category">댓글</div>
            <div class="mycomment">
                {% if user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="content" placeholder="댓글을 입력하세요." />
                    <button class="w-btn-outline w-btn-blue-outline" type="submit">
                        댓글 쓰기
                    </button>
                </form>
                {% endif %}

            </div>
            
            <div class="comments_list">
                
                {% for comment in post.comments.all %}
                <li>
                    <div class="commentbox_up">
                        <div class="upleft">
                            <div>{{comment.author}}</div>
                            <div class="date">{{comment.created_dt}}</div>
                        </div>
                        <div class="upright">
                            {% if user.is_authenticated and user.pk == comment.author.pk %}
                            <a href="{% url 'main:delete_comment' post.pk comment.pk %}">삭제</a>
                            {% endif %}

                        </div>
                    </div>
                    <div class="commentbox_down">{{comment.content}}</div>
                    
                </li>
                    

                {% endfor %}
            </div>

        </div>

        <div class="enrolls">
            
            {% if user.is_authenticated and post.author.pk == user.pk %}
                <div class="post-category">신청 목록</div>
                {% for enroll in enrolled %}
                    <div class = "person">{{enroll.person}}</div>

                    <div class = "times">
                        {{enroll.time1}}
                        {{enroll.time2}}
                        {{enroll.time3}}
                    </div>

                    <div class="msg">{{enroll.msg}}</div>

                    {% if enroll.finalTime %}
                        <div class = "finalTime">Confirmed Time: </div>
                        <div class = "finalTime">{{enroll.finalTime}}</div>

                    {% else %}
                        <div class = "finalTime">Participant is waiting for your confirmation.</div>
                    {% endif %}

                    <a class="button" href="{% url 'register:confirm' post.pk enroll.pk %}">Confirm Final Time</a>
                {% endfor %}
            {% endif %}
        </div>
        

    </div>
    


</div>


{% endblock %}