{% extends "base.html" %}

{% block title %}Create Post{% endblock title %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/new.css' %}">

{% endblock %}


{% block header %}
<div class="title">Confirm time</div>
{% endblock %}

{% block main %}<a href="{% url 'main:home' %}">Home</a>{% endblock %}

{% block content %}

<form action="" method = "POST">
    {% csrf_token %}

    <div class = 'forms'>

        <div class="titlebox row">
            <label for="msg" class="name">Post Title</label>
            <div class="titleinput">{{enroll.post.title}}</div>
        
        </div>

        <div class = "titlebox row">Participant's preferred time.</div>
        <div class="titlebox row">
            <label for="time1">Date & Time 1</label>
            <div>{{enroll.time1}}</div>
        </div>

        <div class="titlebox row">
            <label for="time2">Date & Time 2</label>
            <div>{{enroll.time2}}</div>
        </div>
        <div class="titlebox row">
            <label for="time3">Date & Time 3</label>
            <div>{{enroll.time3}}</div>

        </div>

        <div class="titlebox row">
            <label for="msg" class="name">Message to the Post Owner</label>
        
            <div>{{enroll.msg}}</div>
        
        </div>
        
        <div class="titlebox row">
            <label for="finalTime" class="name">Final Time</label>
            <input type="datetime-local" id="finalTime" name="finalTime" class="datetime-local">
        </div>

        <div class="buttonarea">
            <button type="submit">확정하기</button>
        </div>
        

    </div>
    

    

    <!-- <div>
        <label for="gender">Gender</label>
        <input type="radio" id="gender" name="gender" value="여자">
        <input type="radio" id="gender" name="gender" value="남자">
    </div>

    <div>
        <label for="handed">Which hand?</label>
        <input type="radio" id="handed" name="handed" value="왼손잡이">
        <input type="radio" id="handed" name="handed" value="오른손잡이">
    </div> -->
    
</form>
{% endblock %}