@import "./modal.css";

.header{
    display: flex;
    

    margin: 10px auto;
}
.title{
    display: flex;
    flex-direction: row;

    align-items: center;
}
.titletext{
    display: flex;
    align-items: center;
    justify-content: center;
}




li{
    border-bottom: 1px slategray solid;
}
li:first-child{
    border-top: 1px slategray solid;
}

.postbox ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2%;
}
.post-info{
    margin-bottom: 3px;
    /* display: inline-block; */
}
.row{
    justify-content: space-between;
    font-size: x-large;
}

.category{
    display: inline-block;
    text-align: center;
    
    font-size: 0.7em;
    
    padding: 0px 3px;
    padding-top: 7px;

    border: solid 2px paleturquoise;
    border-radius: 10px;
    background-color: rgb(199, 236, 236);
}
